In [18]:
import pandas as pd
import numpy as np

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
df = pd.read_csv('/content/drive/MyDrive/Project_HP/data.csv')
df.head()

     status private pool  ...       MlsId      target
0    Active          NaN  ...      611019    $418,000
1  for sale          NaN  ...   201916904    $310,000
2  for sale          NaN  ...  FR19221027  $2,895,000
3  for sale          NaN  ...    14191809  $2,395,000
4  for sale          NaN  ...      861745      $5,000

[5 rows x 18 columns]

In [53]:
#create functions to retain the real values for 'homeFacts'
def get_yearbuilt(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[0]
    if x.get('factLabel') == 'Year built':
        x = x.get('factValue')
    try:
        x = int(x)
    except:
        x = np.nan
    return x

def get_remodeledyear(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[1]
    if x.get('factLabel') == 'Remodeled year':
        x = x.get('factValue')
    try:
        x = int(x)
    except:
        x = np.nan
    return x

def get_heating(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[2]
    if x.get('factLabel') == 'Heating':
        x = x.get('factValue')
    try:
        x = str(x)
    except:
        x = np.nan
    return x

def get_cooling(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[3]
    if x.get('factLabel') == 'Cooling':
        x = x.get('factValue')
    try:
        x = str(x)
    except:
        x = np.nan
    return x

def get_parking(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[4]
    if x.get('factLabel') == 'Parking':
        x = x.get('factValue')
    try:
        x = str(x)
    except:
        x = np.nan
    return x

def get_lotsize(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[5]
    if x.get('factLabel') == 'lotsize':
        x = x.get('factValue')
    try:
        x = str(x)
    except:
        x = np.nan
    return x

def get_pricesqft(x):
    x = x.get('atAGlanceFacts', -1)
    if x == -1: return -1
    x = x[6]
    if x.get('factLabel') == 'Price/sqft':
        x = x.get('factValue')
    try:
        x = str(x)
    except:
        x = np.nan
    return x

In [55]:
#apply functions to get new columns
df['homeFacts'] = df['homeFacts'].apply(eval)
df['year_built'] = df['homeFacts'].apply(get_yearbuilt)
df['remodeled_year'] = df['homeFacts'].apply(get_remodeledyear)
df['heating'] = df['homeFacts'].apply(get_heating)
df['cooling'] = df['homeFacts'].apply(get_cooling)
df['parking'] = df['homeFacts'].apply(get_parking)
df['lotsize'] = df['homeFacts'].apply(get_lotsize)
df['price_sqft'] = df['homeFacts'].apply(get_pricesqft)

In [56]:
#drop the former 'homeFacts' column
df.drop('homeFacts', axis=1, inplace=True)

In [65]:
#extract schools names
s = df['schools'].apply(lambda st: st[st.find("name"):st.find("]}]")+1])
s = s.str.replace(r"[\"\']", '')
s = s.apply(lambda st: st[st.find("[")+1:st.find("]")])
new_df = s.to_frame()
new_df.rename(columns={'schools':'schools_names'}, inplace=True)
df = df.join(new_df)

In [68]:
#extract schools grades
s = df['schools'].apply(lambda st: st[st.find("Grades"):st.find("name")+1])
s = s.str.replace(r"[\"\']", '')
s = s.apply(lambda st: st[st.find("[")+1:st.find("]")])
new_df = s.to_frame()
new_df.rename(columns={'schools':'schools_grades'}, inplace=True)
df = df.join(new_df)

In [70]:
#extract schools distances
s = df['schools'].apply(lambda st: st[st.find("Distance"):st.find("Grades")+1])
s = s.str.replace(r"[\"\']", '')
s = s.apply(lambda st: st[st.find("[")+1:st.find("]")])
new_df = s.to_frame()
new_df.rename(columns={'schools':'schools_distances'}, inplace=True)
df = df.join(new_df)

In [72]:
#extract schools ratings
s = df['schools'].apply(lambda st: st[st.find("rating"):st.find("data")+1])
s = s.str.replace(r"[\"\']", '')
s = s.apply(lambda st: st[st.find("[")+1:st.find("]")])
new_df = s.to_frame()
new_df.rename(columns={'schools':'schools_ratings'}, inplace=True)
df = df.join(new_df)

In [74]:
#drop the former schools column
df.drop('schools', axis=1, inplace=True)

In [76]:
#saving the csv
df.to_csv('/content/drive/MyDrive/Project_HP/data_raw.csv', index=False)